# dependencies
node_modules/

# environment variables
#.env

# uploads folder
uploads/

# logs
logs
*.log
npm-debug.log*

# build files
dist/
build/

# OS files
.DS_Store
Thumbs.db

# editor files
.vscode/
.idea/

# package lock
package-lock.json

# coverage
coverage/

# temporary files
tmp/
temp/